<ul class="breadcrumb">
  <li class="crumb"><a href="/downtime">Downtime</a></li>
  <li class="active"><%= @transaction.title %></li>
</ul>

<div class="page-title-with-border">
  <h1>
    <%= @transaction.title %>
  </h1>
</div>

<form action="#" method="post" class="form">

  <div class="form-group">
    <label class="add-label-margin">Downtime type</label>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
        Unplanned, the service is currently unavailable
      </label>
    </div>
    <div class="radio remove-top-margin">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
        Scheduled
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="remove-bottom-margin">Message</label>
    <div class="text-muted add-label-margin">Will display immediately</div>
    <textarea class="form-control input-md-8" rows="3">This service is unavailable</textarea>
  </div>

  <input type="submit" class="btn btn-success" value="Update downtime">
  <input type="submit" class="add-left-margin btn btn-danger" value="Delete downtime">
</form>
